<!--
<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the tutorial.
</p>
-->

<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"> 
  <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> 
</head>

<body class="gray-bg">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="panel panel-info">
        <div class="panel-heading"><i class="fa fa-info-circle"></i>　<b>一份合适的简历，能令你在求职过程中事半功倍！好好地制作你的简历吧。</b></div>
    </div>

    <div class="row" style="margin-top: -20px;">
      <form class="form-horizontal m-t" id="resume_basic" action="?a=resume&amp;m=ajax_edit_save" novalidate="novalidate">

      <div class="col-sm-12">
        <div class="ibox float-e-margins">
          <h5 class="text-center"><strong>简历信息</strong></h5>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      简历名称
                  </label>
                  <div class="col-sm-4">
                    <div><input type="text" class="form-control" name="title" value=""></div>
                        <span class="help-block"><i class="fa fa-info-circle"></i> 简历名称不在网站显示，用于自己区分不同简历</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      真实姓名
                  </label>
                  <div class="col-sm-9">
                    <div class="input-group">
                      <div style="float: left;"><input type="text" class="form-control" name="fullname" value="陈杰锋"></div>
                    </div>
                    <span class="help-block"><i class="fa fa-info-circle"></i> 显示在简历中的姓名</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      专　业
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="major" id="major" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="major_cn" id="major_cn" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">籍　贯</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="householdaddress" id="householdaddress" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="householdaddress_cn" id="householdaddress_cn" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">现居住地区</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="residence" id="residence" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="residence_cn" id="residence_cn" value="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      性　别
                  </label>
                  <div class="col-sm-8">
                    <div class="radio radio-info radio-inline">
                      <input type="radio" id="sex_radio_1" value="1" name="sex" checked="">
                      <label for="sex_radio_1"> 男 </label>
                    </div>
                    <div class="radio radio-info radio-inline">
                      <input type="radio" id="sex_radio_2" value="2" name="sex">
                      <label for="sex_radio_2"> 女 </label>
                    </div>
                  </div>
                </div>
                <div class="form-group" id="birthdate">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      出生年份
                  </label>
                  <div class="col-sm-3">
                    <div class="input-group date" id="datetimepicker1">
                      <input type="text" class="form-control" name="birthdate" value="1998" maxlength="4" readonly="">
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      学　历
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select class="form-control hidden" name="education"><option value="01">01</option><option value="11">11</option><option value="25">25</option><option value="31" selected="selected">31</option><option value="41">41</option></select>
                      <select class="form-control m-b" name="education_cn" onchange="Custom.LinkSelect('education_cn', 'education');"><option value="博士研究生">博士研究生</option><option value="硕士研究生">硕士研究生</option><option value="双学位">双学位</option><option value="本科生" selected="selected">本科生</option><option value="专科生">专科生</option></select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">婚姻状况</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select class="form-control hidden" name="marriage"><option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option></select>
                      <select class="form-control m-b" name="marriage_cn" onchange="Custom.LinkSelect('marriage_cn', 'marriage');"><option value="未婚" selected="selected">未婚</option><option value="已婚">已婚</option><option value="保密">保密</option></select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      身　高
                  </label>
                  <div class="col-sm-3">
                    <div class="input-group">
                      <input type="text" class="form-control" name="height" value="170" maxlength="3"> <span class="input-group-addon"> CM </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">工作经验</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <select class="form-control hidden" name="experience"><option value="99" selected="selected">99</option><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option></select>
                      <select class="form-control m-b" name="experience_cn" onchange="Custom.LinkSelect('experience_cn', 'experience');"><option value="无经验" selected="selected">无经验</option><option value="1年以下">1年以下</option><option value="1-3年">1-3年</option><option value="3-5年">3-5年</option><option value="5-10年">5-10年</option><option value="10年以上">10年以上</option></select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      期望形式
                  </label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select class="form-control hidden" name="nature"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>
                      <select class="form-control m-b" name="nature_cn" onchange="Custom.LinkSelect('nature_cn', 'nature');"><option value="全职">全职</option><option value="兼职">兼职</option><option value="实习">实习</option></select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      期望职位
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="major" id="major" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="major_cn" id="major_cn" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      期望行业
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="major" id="major" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="major_cn" id="major_cn" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      期望地区
                  </label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input type="hidden" class="form-control" name="major" id="major" value="" maxlength="10" code_cn="">
                      <input type="text" class="form-control" name="major_cn" id="major_cn" value="">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      期望薪酬
                  </label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <select class="form-control hidden" name="wage"><option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option></select>
                      <select class="form-control m-b" name="wage_cn" onchange="Custom.LinkSelect('wage_cn', 'wage');"><option value="2000元以下/月">2000元以下/月</option><option value="2000～3000元/月">2000～3000元/月</option><option value="3000～4000元/月">3000～4000元/月</option><option value="4000～5000元/月">4000～5000元/月</option><option value="5000～8000元/月">5000～8000元/月</option><option value="8000～10000元/月">8000～10000元/月</option><option value="1万元以上">1万元以上</option></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      联系电话
                  </label>
                  <div class="col-sm-8">
                    <div><input type="text" class="form-control" name="telephone" value="18825127378" maxlength="30"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">联系QQ</label>
                  <div class="col-sm-8">
                    <div><input type="text" class="form-control" name="qq" value="" maxlength="30"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      电子邮箱
                  </label>
                  <div class="col-sm-8">
                    <div>
                      <input type="text" class="form-control" name="email" value="" maxlength="50">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">主页/博客</label>
                  <div class="col-sm-8">
                    <div><input type="text" class="form-control" name="website" value="" maxlength="50"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">
                      <em class="text-danger">*</em>
                      通信地址
                  </label>
                  <div class="col-sm-8">
                    <div><input type="text" class="form-control" name="address" value="广东肇庆高要区南岸" maxlength="50"></div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-7">
                <div class="form-group">
                  <label class="col-sm-3 control-label">自我评价</label>
                    <div class="col-sm-8">
                      <div class="">
                        <textarea class="form-control" name="specialty" rows="4" placeholder="请填写自我评价描述" style="    width:100%; resize:none;"></textarea>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="col-sm-6 text-right">
              	<button class="btn btn-primary btn_save_basic" type="button"><i class="fa fa-check"></i>　提　交　</button>　
              </div>
            </div>
          </div>

        </div>
      </div>
      </form>
    </div>
</div>
<script type="text/javascript">
 $(function() {
 });
</script>
</body>
