  <div class="content">
      <header class="header">
        <a class="logo" href="./index"><i class="icon-header"></i><h1>学生就业管理系统</h1></a>
        <div class="header-right">
          <ul>
            <li class="msg">
              <div>
                <i class="icon-mail"></i>
                <span class="count">10</span>
              </div>
              <div class="detail msg-detail">
                <header>you had receive 10 message</header>
                <ul>
                  <li><a href="javascript:;">aaaaaa</a></li>
                  <li><a href="javascript:;">bbbbbbb</a></li>
                  <li><a href="javascript:;">ccccccc</a></li>
                  <li><a href="javascript:;">aaaaaa</a></li>
                  <li><a href="javascript:;">bbbbbbb</a></li>
                  <li><a href="javascript:;">ccccccc</a></li>
                  <li><a href="javascript:;">aaaaaa</a></li>
                  <li><a href="javascript:;">bbbbbbb</a></li>
                  <li><a href="javascript:;">ccccccc</a></li>
                  <li><a href="javascript:;">aaaaaa</a></li>
                  <li><a href="javascript:;">bbbbbbb</a></li>
                  <li><a href="javascript:;">ccccccc</a></li>
                </ul>
                <footer>
                  <a href="javascript:;">view all messeage</a>
                </footer>
              </div>
            </li><li class="profile">
            <div class="avatar">
              <img src="/assets/avatar.jpg">
            </div>
            <span class="user-name">leo</span>
            <div class="detail user-detail">
              <div class="con">
                <div class="avatar"><img src="/assets/avatar.jpg"></div>
                <a class="user-link" href="https://github.com/leoffffff">leo</a>
                <p>Web developer</p>
              </div>
              <footer class="clearfix">
                <a class="fl" href="javascript:;">Profile</a>
                <a class="fr" href="/signout">Sign out</a>
              </footer>
            </div>
          </li>
        </ul>
      </div>
      <div class="header-middle">
        <a id="pushMenu"class="push-menu" href="javascript:;"><i class="icon-menu"></i></a>
      </div>
    </header>
    <aside class="menu-wrap">
      <ul id="menuList" class="side-menu">
        <li>
          <a data-type="tab" title="主页面" href="/help"><i class="icon-code"></i><span>主页面</span></a>
        </li>
        <li class="children">
          <a data-type="tab" title="就业信息管理" href="javascript:;"><i class="icon-doc-text"></i><span>就业信息管理</span></a>
          <ul>
            <li>
              <a data-type="tab" title="学生个人信息" href="/contact"><span>学生个人信息</span></a>
            </li>
            <li>
              <a data-type="tab" title="简历信息" href="/about"><span>简历信息</span></a>
            </li>
            <li>
              <a data-type="tab" title="就业活动" href="/help"><span>就业活动</span></a>
            </li>
          </ul>
        </li>
        <li>
          <a title="My github" href="https://github.com/leoffffff/manage-app"><i class="icon-font"></i><span>项目地址</span></a>
        </li>
      </ul>
    </aside>
    <div id="main" class="main">
      <nav class="nav">
        <ul id="nav" class="menu-tabs"></ul>
      </nav>
      <div class="page-con"></div>
    </div>
    <footer class="footer">
      <p>copyright &copy; 2018 <a href="测试版">leo</a></p>
    </footer>
  </div>
<script>
    var $nav= $('#nav'),
        $navParent= $nav.parent(),
        lh=$('#menuList').find('li').first().height();

    // 导航栏隐藏／显示
    $('#pushMenu').on('click',function(){
      $('.content').toggleClass('hide-nav');
      setTabWidth();
    });

    //存在则激活tab, 否则新建tab 
    function clickMenu(url,txt){
      var i=-1;
      $nav.find('li').each(function(index, el) {
        if($(this).attr('data-txt')==txt){
          i=index;
          return false;
        }
      });
      if(i>-1){
        selectTab(i);
      } else {
        appendTab(txt);
        appendPage(url);
      }
    }
    //添加页面
    function appendPage(url){
      $('.page-con .page').removeClass('active');
      $('.page-con').append('<div class="page active"><iframe src="'+url+'" frameborder="0" width="100%" height="100%"></iframe></div>');
    }
    
    //添加tab
    function appendTab(txt){
      $nav.find('li').removeClass('active');
      $nav.append('<li data-txt="'+txt+'" class="active"><a href="javascript:;">'+txt+'<i class="close">×</i></a></li>');
      var w=setTabWidth();
      //移动到新增tab
      $navParent.animate({'scrollLeft':w+'px'},600); 
    }

    //选择下一个tab
    function selectNext(i){
      var len=$nav.find('li').length;
      if(len<=1) return;
      selectTab(i>0?i-1:i+1);
    }

    //选择tab
    function selectTab(index){
      var selTab=$nav.find('li').eq(index),
          selTabLeft=selTab.position().left,
          tabWrapWidth=$navParent.width();

        selTab.addClass('active').siblings('.active').removeClass('active');
        $('.page-con .page').eq(index).addClass('active').siblings('.active').removeClass('active');
        
        //不在tab栏显示范围则滚动到可视范围内
        if(selTabLeft<0||selTabLeft>tabWrapWidth){
          $navParent.animate({ scrollLeft: selTabLeft }, 600);
        }
    }

    // 选择导航菜单
    $('#menuList').on('click','a',function(e){
      var $li=$(this).parent(),
          cul=$li.find('ul');

      if($(this).attr('data-type')!='tab')return;
      e.preventDefault();

      //有子菜单
      if($li.hasClass('children')){
        if($li.hasClass('active')){
          $li.removeClass('active');
          cul.css('height',0);
          return;
        } else{
          var h=cul.find('li').length*lh;
          cul.css('height',h+'px');
        }
      }

      $li.addClass('active').siblings('.active').removeClass('active');
      if($li.hasClass('children')) return;
      var url=$(this).attr('href'),
          txt=$.trim($(this).attr('title'));
      clickMenu(url,txt);
    });

    // 选择tab
    $nav.on('click','li',function(){
      if($(this).hasClass('active')) return;
      var index =$(this).index();
      selectTab(index);
    });

    // 关闭tab
    $nav.on('click','.close',function(e){
      e.preventDefault();
      e.stopPropagation();
      var $li=$(this).parent().parent(),
          index =$li.index();
      if($li.hasClass('active')){
        selectNext(index);
      }
      $li.remove();
      $('.page-con .page').eq(index).remove();
      setTabWidth();
    });

    //设置导航列表宽度
    function setTabWidth(){
      var w=0;
      var pw=$navParent.width();
      $nav.find('li').each(function(i,item){
        w+=$(item).outerWidth(true);
      });
      w=Math.max(w+10,pw);
      $nav.css('width',w+'px');
      return w;
    }

    function setWidth(){
      var winWidth=$(window).width();
      if(winWidth<769){
        $('.content').addClass('hide-nav');
      }
    }

    //设置高度
    function setHeight(){
      var winHeight=$(window).height(),
          headerHeight=$('.header').height(),
          footerHeight=$('.footer').height(),
          navHeight=$('.nav').outerHeight();
      $('.page-con').height(winHeight-headerHeight-navHeight-footerHeight);
    }
    function windowResize(){
      setHeight();
      setTabWidth();
      setWidth();
    }
    windowResize();
    $(window).on('resize',windowResize);

    //选择第一项
    $('#menuList a').first().click();
</script>
